body {
  box-sizing: border-box;
  margin: 0;
  background-color: #f2f2f2;
  font-family: 'Open Sans', 'Lucida Grande', tahoma, verdana, arial, sans-serif;
}

h1 {
  text-align: center;
}

.main-wrapper {
  display: flex;
  margin: 0 6px;
}

#todo {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: white;
  border: 1px solid lightgray;
  box-shadow: 0 0.3rem 1rem rgb(0 0 0 / 15%);
  width: 500px;
}

#todo > * {
  display: flex;
}

#todo [type="text"] {
  font-size: 1rem;
  padding: 8px 0;
  width: 70%;
  border: 0;
  flex: 1;
  background-color: transparent;
}

#todo [type="text"]:focus-visible {
  outline: none;
}

button,
[type="submit"],
[type="checkbox"] {
  cursor: pointer;
}

.todo-header {
  align-items: center;
  justify-content: space-between;
  padding: 12px 10px;
  border-bottom: 1px solid lightgray;
}

.todo-header h2 {
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
}

.todo-header button {
  border: 0;
  background-color: transparent;
  padding: 0;
  width: 12px;
  height: 12px;
  margin-right: 4px;
  color: gray;
}

.todo-add {
  padding: 4px 10px;
  border-bottom: 1px solid lightgray;
}

.todo-add :first-child {
  font-style: italic;
}

.todo-add :last-child {
  border: 0;
  background-color: transparent;
  padding: 0;
  transform: rotate(90deg);
  width: 18px;
  margin-right: 4px;
  color: gray;
}

.todo-add input:first-child:focus-visible {
  outline: none;
}

.todo-list-empty {
  text-align: center;
  color: gray;
  padding: 12px 10px !important;
}

.todo-list {
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #dadada;
}

.todo-list li {
  padding: 4px 10px;
  border-bottom: 1px solid lightgray;
  background-color: white;
}

.todo-item {
  display: flex;
  align-items: center;
}

.todo-item-select {
  background-color: #e3e3e3 !important;
}

.todo-item-draging {
  border: 2px solid rgb(121, 121, 121) !important;
  padding: 2px 8px 3px !important;
}

.todo-item :first-child {
  margin: 0 10px 0 0;
  border: 2px solid gray;
}

.todo-item :last-child {
  width: 14px;
  text-align: end;
  border: 0;
  background-color: transparent;
  padding: 0;
  color: gray;
}

.todo-item :last-child:hover {
  cursor: move;
}

.fa-trash-alt:hover {
  cursor: pointer !important;
}

.todo-clear {
  padding: 12px 10px;
  justify-content: center;
  background-color: rgb(239, 239, 239);
}

.todo-clear button {
  border: 0;
  padding: 0;
  font-size: 1rem;
  color: gray;
}

.todo-clear button:hover {
  color: black;
  text-decoration: underline;
}
